@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    
}
*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex; 
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../background.gif");
    /* backdrop-filter: blur(3px) grayscale(100%); */
    background-size: cover;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 8rem 0 0 0;
}
header h1 {
    font-family: 'Gochi Hand', cursive;
    color: rgb(255, 255, 255);
    font-size: 5rem;
}
.main {
    display: flex; 
   
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    width: 100%;
}
.tomagotchiDiv {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 20%;
}


.tomagotchiDiv img {
    object-fit: contain;
    width: 70%;
    margin: 0 30px 30px 30px;
}

.playDiv {
    width: 50%; 
    height: 40vh;
    background-color: rgb(237, 235, 183);
    margin: 2rem;
}
footer {
    position: absolute;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    height: 10vh;

}
footer a {
    color: white; 
    text-decoration: none;
    font-size: smaller;
    margin-bottom: 10px;
}